 * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Segoe UI', sans-serif;
    }

    body {
        background-color: #333;
        color: #333;
    }

    header {
        background: #08477a;
        color: white;
        padding: 25px 20px;
        text-align: center;
    }

    header img {
        float: left;
        width: 70px;
        height: 40px;
        overflow: hidden;
    }

    nav a {
        color: white;
        margin: 0 30px;
        text-decoration: none;
        font-weight: bold;
        font-size: large;
    }


    nav a:hover {
        font-size: 20px;
    }

    section {
        padding: 50px 20px;
        max-width: 900px;
    
    }

    article a img {
        width: 30px;
        padding-left: 10px;
    }

    article {
        padding: 20px 20px;
        border-bottom: 3px solid white;
    }
    
    article > p 
    {
        display: flex;
        padding-bottom: 7px;
        color: rgb(214, 211, 211);
    }

    article > h4 {
        max-width: 900px;
        font-size: 30px;
        padding-bottom: 20px;
        color: rgb(235, 235, 235);
    }

    article img.logo_paroquia {
        width: 300px;
        height: 240px;
        float: right;
    }

   
    .about, .schedule, .contact {
        background: white;
        border-radius: 8px;
        padding: 30px;
        margin-bottom: 80px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    }

    h2 {
        color: #267abf;
        margin-bottom: 20px;
    }

    .contact form input,
    .contact form textarea {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .contact form button {
        background-color: #267abf;
        color: white;
        border: none;
        padding: 12px 20px;
        cursor: pointer;
        border-radius: 5px;
    }

    .contact form button:hover {
        background-color: #1a242f;
    }

    li a {
        color: white;
    }

    footer {
        text-align: center;
        font-size: 20px;
        padding: 50px;
        background: #f7a81a;
        color: white;
    }

    textarea {
        resize: none;
    }